<div class="container">
  
    <img src="assets/img/main_img3.jpg" class="img-rounded" alt="Full banner" width="100%">
    <h3>Bienvenidos a My Fábrica</h3>
    
    <div class="row pb-5">
      <div class="col-sm-8 pb-5">
        <p>
          My Fábrica se dedica a la venta de prendas masculinas de tipo ejecutivo, cada una 
          de ellas fabricada con la mejor calidad y mejor talento 100% colombiano.
        </p>
        <p>
          Somos encargados de entregar satisfacción a los caballeros distinguidos por su buen 
          gusto y exquisitez al vestir.
        </p>
      </div>
    
      <div class="col-sm-4 mb-5">
        <h4>Contacto</h4>
        
        <div class="">
          <div class="row">
            <label>Telefono: </label> 312 326 0292
          </div>
          <div class="row">
            <label>Correo: </label> stedennis90@gmail.com
          </div>
        </div>
        
      </div>
    </div>
     
  </div>
  